* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  padding: 1rem;
  justify-content: space-between;
}

#menu {
  display: flex;
  gap: .5rem
}

#menu a {
  display: block;
  padding: .5rem;
}

#hamburger {
  display: none;
}
@media screen and (max-width: 425px) {
  #hamburger {
    display: block;
  }

  #menu {
    display: none;
  }

  #menu.exist {
    display: flex;
  }
}

@media screen and (min-width: 720px){

}

@media screen and (min-width: 1280px) {

}