:root {
  --main-color: rgb(255, 189, 89);
  --secudary-color: rgb(234, 187, 109);
  --first-dark: rgb(170, 143, 112);
  --second-dark: rgb(97, 97, 80);
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0;
}

* {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: 'Oxygen', sans-serif;
}

body {
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: var(--main-color);
  align-items: center;
  display: flex;
  justify-content: center;
}

h1 {
  color: var(--second-dark);
}

h3 {
  color: var(--second-dark);
  text-decoration: underline;
}

.line {
  border: 1px solid rgb(14, 14, 14);
  background-color: rgb(14, 14, 14);
}

.left-arrow-fullscream,
.rigth-arrow-fullscream {
  display: none;
}

@media screen and (max-width: 425px) {

  h1 {
    margin-bottom: .3rem;
  }

  #header {
    align-items: center;
    background-color: rgba(18, 18, 18, 0.87);
    box-shadow: var(--second-dark) 0 8.5px 1px;
    width: 100%;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    width: 100%;
  }

  #logo {
    width: 6rem;
    margin-left: .5rem;
  }

  #menu {
    background-color: var(--second-dark);
    display: block;
    height: 0px;
    overflow: auto;
    position: absolute;
    right: 0px;
    top: 72px;
    transition: .6s;
    visibility: hidden;
    width: 100%;
    z-index: 1000;
  }

  #menu a {
    border-bottom: 2px solid rgba(0, 0, 0, .05);
    padding: 1rem 0;
    margin: 0 1rem;
  }

  #hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
  }

  #hamburger-ico {
    border-top: 2px solid var(--second-dark);
    width: 20px;
    margin-right: 1rem;
  }

  #hamburger-ico::after {
    border-top: 2px solid var(--second-dark);
    content: '';
    display: block;
    height: 2px;
    margin-top: 4px;
    width: 20px;
  }

  #hamburger-ico::before {
    border-top: 2px solid var(--second-dark);
    content: '';
    display: block;
    height: 2px;
    margin-top: 5px;
    width: 20px;
  }


  #menu.exist {
    height: 17rem;
    overflow-y: auto;
    visibility: visible;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
  }

  #hero-img {
    max-width: 80%;
    height: auto;
    padding-top: 3vh;
  }

  .hero-text-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5vh;
  }

  .hero-text-container p {
    padding: .3rem .5rem;
    text-indent: 1rem;
    text-align: center;
  }

  #technologies {
    padding-bottom: 1rem;
  }

  #tec-container {
    padding: .5rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px;
    height: auto;
  }

  .text-technologies-container {
    text-align: center;
    align-items: center;
    padding-bottom: 1rem;
  }

  .box {
    align-items: center;
    background-color: var(--main-color);
    box-shadow: var(--first-dark) 1px 1px 1px;
    display: flex;
    height: 25px;
    justify-content: center;
    width: 25%;
  }

  .carousel {
    display: flex;
    justify-content: start;
    padding: 5px 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
  }


  .development-image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    flex: none;
    scroll-snap-align: start;
    pointer-events: none;
    scroll-behavior: smooth;
  }

  .block-caroseul {
    max-width: 100%;
    height: 100%;
    flex: none;
    overflow-y: initial;
  }

  .caroseul-description {
    text-align: center;
    padding: 0 .3rem;
  }

  #arrow-case {
    filter: opacity(50%);
    top: 61rem;
    position: absolute;
    display: flex;
    padding: .3rem .8rem;
    gap: 18.3rem;
  }

  .arrow-container {
    width: 15px;
    height: 35px;
  }

  .arrow {
    width: 4vh;
    height: 100%;
    border-radius: 50%;
  }

  #left-arrow {
    transform: rotate(180deg);
    left: 0;
  }

  #rigth-arrow {
    right: 0;
  }

  #text-projects-container {
    text-align: center;
    align-items: center;
    padding-bottom: .5rem;
  }

  #container-projects {
    text-align: center;
    padding-top: .3rem;
  }

  .project-describe-container {
    padding-bottom: .3rem;
  }

  #arrow-case-projects {
    filter: opacity(50%);
    top: 86rem;
    position: absolute;
    display: flex;
    padding: .3rem .8rem;
    gap: 18.3rem;
  }

  #footer {
    background-color: rgba(18, 18, 18, 0.87);
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }

  #git {
    width: 100%;
    height: auto;
    filter: invert(100%);
  }

  #linkedin {
    width: 80%;
    height: auto;
    filter: invert(100%);
  }

  #rights {
    color: var(--main-color);
  }

  #git-container {
    padding-right: 5px;
  }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

  h1 {
    margin-bottom: .3rem;
  }

  #header {
    align-items: center;
    background-color: rgba(18, 18, 18, 0.87);
    box-shadow: var(--second-dark) 0 8.5px 1px;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    width: 100%;
  }

  #logo {
    margin-left: .5rem;
    width: 6rem;
  }

  #menu {
    background-color: var(--second-dark);
    display: block;
    height: 0px;
    overflow: auto;
    position: absolute;
    right: 0px;
    top: 72px;
    transition: .6s;
    visibility: hidden;
    width: 100%;
    z-index: 1000;
  }

  #menu a {
    border-bottom: 2px solid rgba(0, 0, 0, .05);
    margin: 0 1rem;
    padding: 1rem 0;
  }

  #hamburger {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
  }

  #hamburger-ico {
    border-top: 2px solid var(--second-dark);
    margin-right: 1rem;
    width: 20px;
  }

  #hamburger-ico::after {
    border-top: 2px solid var(--second-dark);
    content: '';
    display: block;
    height: 2px;
    margin-top: 4px;
    width: 20px;
  }

  #hamburger-ico::before {
    border-top: 2px solid var(--second-dark);
    content: '';
    display: block;
    height: 2px;
    margin-top: 5px;
    width: 20px;
  }


  #menu.exist {
    height: 17rem;
    overflow-y: auto;
    visibility: visible;
  }

  #mainHero {
    display: flex;
    padding-top: 3vh;
    padding-bottom: 2rem;
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    max-width: 45%;
  }

  #hero-img {
    height: auto;
    max-width: 80%;
  }

  .hero-text-container {
    align-items: center;
    flex-wrap: wrap;
    max-width: 50%;
    padding-top: 10vh;
    text-align: center;
  }

  .hero-text-container p {
    text-align: justify;
    text-indent: 1rem;
  }

  .hero-text-container h1 {
    text-align: center;
    text-indent: 1rem;
  }

  #technologies {
    padding-bottom: 1rem;
  }

  #tec-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    height: auto;
    justify-content: center;
    padding: .5rem 0;
  }

  .text-technologies-container {
    align-items: center;
    text-align: center;
    padding-bottom: 1rem;
  }

  .box {
    align-items: center;
    background-color: var(--main-color);
    box-shadow: var(--first-dark) 1px 1px 1px;
    display: flex;
    height: 25px;
    justify-content: center;
    width: 20%;
  }

  .carousel {
    display: flex;
    justify-content: start;
    overflow-x: auto;
    padding: 5px 0;
    scroll-snap-type: x mandatory;
  }


  .development-image {
    flex: none;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    pointer-events: none;
    scroll-behavior: smooth;
    scroll-snap-align: start;
  }

  .block-caroseul {
    height: 100%;
    flex: none;
    max-width: 100%;
    overflow-y: initial;
  }

  .caroseul-description {
    text-align: center;
    padding: 0 .3rem;
  }

  #arrow-case {
    display: flex;
    filter: opacity(50%);
    gap: 40.2rem;
    padding: .3rem .8rem;
    position: absolute;
    top: 53rem;
  }

  .arrow-container {
    height: 45px;
    width: 35px;
  }

  .arrow {
    border-radius: 50%;
    height: 6vh;
    width: 6vh;
  }

  #left-arrow {
    left: 0;
    transform: rotate(180deg);
  }

  #rigth-arrow {
    right: 0;
  }

  #text-projects-container {
    align-items: center;
    padding-bottom: .7rem;
    text-align: center;
  }

  #container-projects {
    padding-top: .5rem;
    text-align: center;
  }

  .project-describe-container {
    padding-bottom: .3rem;
  }

  #arrow-case-projects {
    display: flex;
    filter: opacity(50%);
    gap: 40.2rem;
    padding: .3rem .8rem;
    position: absolute;
    top: 86rem;
  }

  #footer {
    align-items: center;
    background-color: rgba(18, 18, 18, 0.87);
    display: flex;
    height: 60px;
    justify-content: space-between;
    width: 100%;
  }

  #git {
    filter: invert(100%);
    height: auto;
    width: 100%;
  }

  #linkedin {
    filter: invert(100%);
    height: auto;
    width: 80%;
  }

  #rights {
    color: var(--main-color);
  }

  #git-container {
    padding-right: 5px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  body {
    background-color: rgb(255, 0, 179);
  }


  /*
  #development {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #menu.exist {
    height: 50vh;
    overflow-y: auto;
    visibility: visible;
  }  

  .carousel {
    display: flex;
    justify-content: start;
    width: 70%;
    height: auto;
    padding-top: 1rem;
  }

  #arrow-case {
    display: none;
  }

  #development {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-arrow-fullscream, .rigth-arrow-fullscream {
    width: 12vh;
    display: flex;
    padding: 3rem;
  }
  .left-arrow-fullscream {
    transform: rotate(180deg)
  }
*/
}